body {
     font-family: Verdana, sans-serif;
 }

header {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

span.title {
    font-weight: bold;
}
#btnHelpProf {
    float: left;
    margin-top: 10px;
}
#linkToCorrectionPanelProf {
    float:right;
    margin-top: 10px;
}

input[type="file"] {
    border: 2px solid #999;
    display: inline-block;
    width: 48%;
}
div[id^='divUpload'] {
    margin:5px 0px;
}

#btnGetStudentReport {
    position:relative;
    left:47%;
}

#spanStatusClock {
    color:#ff0000;
    font-weight: bold;
}

div.wrapper section {
    margin: 20px;
    padding: 10px;
    border: 2px solid #46b8da;
    border-radius:8px;
}
fieldset {
    border:1px solid #999 !important;
    border-radius:8px;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0 0 10px #999;
    box-shadow:0 0 10px #999;
}

legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    background:#fff;
}

div.wrapper {
    display: table;
    width: 100%;
}

div.wrapper > section {
    display: table-cell;
    width:50%;
}

label {
    float: left;
    display: inline-block;
    width: 50%;
}

.center {
    text-align: center;
}

.verticalCenter{
    width: 200px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div.center {
    margin-top:5px;
}

button[id^='btnClock'] {}

table {
    width: 100%;
    border-collapse: collapse;
}
td, th {
    text-align: center;
    padding: 5px;
}

#divRestartExamSession {
    margin: 15px 0px;
}

#tableExamReport {
    margin: 10px 0px;
}

mark {
    background-color: #ff0 !important;
}
.btn-default {
    color: #333;
    background-color: buttonface;

}
.btn {
    margin-top: 10px;
}
button.btn-info{
    margin-top: 0px;
}

#secFinishExam {
    margin: 20px;
    padding: 10px;
    border: 2px solid #4cae4c;
    border-radius:8px;
}
th {
    background-color: #4cae4c;
}

#tableStartExam > thead > tr > th{
    background-color: lightblue;
}

#tableEndExam > thead > tr > th{
    background-color: lightblue;
}

#linkToCorrectionPanelProf::after {
    content: ' →';
}
input[type="number"] {
    text-align: right;
}
/*.nav-tabs > li.active > a{
    background-color: lightgreen;
}
li.disabled > a {
    background-color: lightcoral;
}*/

li > a {
    color: #0088cc !important;
}
.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.nav-tabs>li.active>a {
    border: 2px solid #46b8da;
    border-bottom-color: transparent;
}

.tab-content {
    border-left: 2px solid #46b8da;
    border-right: 2px solid #46b8da;
    border-bottom: 2px solid #46b8da;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
    border-bottom: 2px solid #46b8da;
}
.nav-tabs>li.active>a:hover {
    border: 2px solid #46b8da;
    border-bottom-color: transparent;
}

/* allineamento div nelle 3 sezioni (html, css, javascript)*/
.align{
    float:left;
    display: block;
    width: 50%;
    padding: 10px;
}
.clearBoth{
    clear:both;
}

/* NEW GRAPHICS */

.inputChoise{
    display: inline-block;
    width: 156px;
    height: 34px;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[id^='choisea']{
    border-color: forestgreen;
    box-shadow: 0 0 5px rgba(20, 220, 0, 0.4);
}

input[id^='choiseTypeQuestion']{
    border-color: lightslategray;
    margin-bottom: 5px;
}

#choiseTypeQuestion{
    height: 120px;
}

.divConfig{
    width: 80%;
    border-left: 2px solid lightgray;
    float:left;
    padding: 10px;
}

.divList{
    width: 20%;
    float:left;
    padding:5px
}

.border{
    border: 1px solid lightgray;
    border-radius:2px;
    padding: 5px;
}

.margin{
    margin-bottom: 10px;
}

#NOEDIT{
    margin-bottom: 15px;
    text-align: center;
    color: red;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.rightClock{
    float:right;
    clear: right;
    margin-bottom: 5px;
}
.right{
    float: right;
}

.left{
    float: left;
}

.align-btn-reset{
    float:right;
    margin-top: 20px;
    padding: 15px;
}

.align-btn-reset > input{
    width: 350px;
    height: 100px;
}

.align-btn-time{
    float:left;
    padding: 15px;
    clear:both;
}

.align-btn-time > button{
    clear: left;
    float: left;
    width: 300px;
}

.align-btn{
    float: right;
    width: auto;
    margin-top: 30px;
    margin-right: 10px;
}

#list{
    list-style-type: none; /* nessun elemento come marcatore */
    padding-left: 0;       /* padding nullo */
    margin-left: 0;        /* margine nullo */
}

.listSelect{
    border:0px;
    outline:0px;
    height: 100%;
    overflow: auto;
    width:100%;
}

#divInputClock{
    margin-top: 40px;
}

#divButtonClock{
    margin-top: 10px;
}

#divButtonStartExam{
    margin-top: 100px;
}

#divInfoTime{
    clear: both;
    margin-top: 150px;
    display: none;
}