body {
    font-family: Verdana, sans-serif;
}

input[type="file"] {
    border: 3px solid darkgreen;
    display: inline-block;
    width: 48%;
}

#spanStatusClock {
    color:#ff0000;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 10px;
    border: 3px solid #000088;
    border-radius:8px;
}

legend {
    text-align: center;
    background:#fff;
}

div.wrapper {
    display: table;
    width: 100%;
}

div.wrapper > section {
    display: table-cell;
    width:50%;
}

label::after {
    content: " :";
}
label {
    display: inline-block;
    width: 50%;
}

.center {
    text-align: center;
}

div.center {
    margin-top:10px;
}

button[id^='btnClock'] {
    margin:20px;
    font-size: large;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td {
    text-align: center;
    padding: 5px;
}
td:last-child, th:last-child {
    background: #ff0000;
}
.pointer {
    cursor: pointer;
}

fieldset {
    border:1px solid #999 !important;
    border-radius:8px;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0 0 10px #999;
    box-shadow:0 0 10px #999;
}

legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
#tableExamReport {
    margin: 10px 0px;
}
mark {
    background-color: #ff0 !important;
}