#btnFinish, #btnNotFinish{
    margin-top: 10%;
    color: royalblue;
    font-weight: bold;
    cursor: pointer;
}

#btnFinish:hover #btnNotFinish:hover {
    background: -webkit-radial-gradient(center, ellipse cover, #f7fbfc 10%, dodgerblue 100%);
    background: -moz-radial-gradient(center, ellipse cover, #f7fbfc 10%, dodgerblue 100%);
    background: -o-radial-gradient(center, ellipse cover, #f7fbfc 10%, dodgerblue 100%);
    background: -ms-radial-gradient(center, ellipse cover, #f7fbfc 10%, dodgerblue 100%);
    color: slategray;
}

.center{
    border: 2px solid #00008b;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
}

.question{
    /*text-align: left;*/
    font-size: 15px;
}

textarea{
    width: 50%;
}

input, label {
    display:inline-block;
}
label {
    width: 250px;
    text-align: left;
    padding-left: 10px;
}