body {
    font-family: Verdana, sans-serif;
}

#formLogin {
    height: 50%;
    width:40%;
    margin:auto;
}
label {
    display: inline-block;
    width: 50%;
    font-style: italic;
}

#divLogin {
    margin-top: 10px;
    text-align: center;
}

#btnLogin{
    font-size: larger;
}
fieldset {
    border:1px solid #999;
    border-radius:8px;
    box-shadow:0 0 10px #999;
}
legend {
    text-align: center;
    background:#fff;
}

.center {
    text-align: center;
}

#divRedirectToExam {
    margin-top: 50px;
}

