<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Control Panel Prof</title>
        <link rel="stylesheet" href="{{static}}/css/myjsbin/controlPanelProf.css">
        <script src="{{static}}/js/myjsbin/countdown_v5.0/countdown.js"></script>
    </head>
    <body>
        <h1 class="ciao" align="center">Pannello di controllo del Professore</h1>
        <span id="foo"></span>
        <!-- I insert this div to try to personalize position of countdown element ==> and I Win -->
        <form id="formExamFile" class="form" method='post' action='/uploadFileCustom' enctype="multipart/form-data">
            <fieldset>
                <legend>form in cui caricare i dati relativi al compito</legend>
                <input type='file' id='fileUploaded' name='fileUploaded' />
                <input type='submit' />
            </fieldset>
        </form>

        <section id="clock">
            <div>
                <button id="btnClocksetup" value="setup" >Setup</button>
                <button id="btnClockready" value="ready" >Ready</button>
            </div>
            <div>
                <span>Actual Status Timer inside Server : </span>
                <span id="spanStatusClock"></span>
            </div>
        </section>

        <section>
            <p>//bottone con cui avere il report del compito desiderato</p>
            <button id="btnGetStudentReport">
                Get Student Report
            </button>


            <div id="divExamReport" style="display: none">
                <table id="tableExamReport" border="1">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{static}}/js/myjsbin/controlPanelProf.js"></script>
</html>