<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Control Panel Prof</title>
        <link rel="stylesheet" href="{{static}}/css/myjsbin/bootstrap.min.css">
        <link rel="stylesheet" href="{{static}}/css/myjsbin/controlPanelProf.css">
        <link rel="stylesheet" href="{{static}}/css/myjsbin/footer.css">
        <link rel="stylesheet" href="{{static}}/css/myjsbin/font-awesome-4.2.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="wrap">
            <div class="container">
                <header>
                    <button id="btnHelpProf" class="btn btn-warning"  data-toggle="modal" data-target="#modalHelpProf" >{{data.guide}}</button>
                    <i class="fa fa-home"></i><span class="title">&nbsp;{{data.title}}</span>
                    <a id="linkToCorrectionPanelProf" class="btn btn-success" href="{{static}}/professor/correction" >{{data.linkToCorrection}}</a>
                </header>
                <!-- Nav tabs -->

                    <ul id="prof-tab" class="nav nav-tabs" role="tablist">
                        <li id="setup-tab" class="active" ><a href="#setup" role="tab" data-toggle="tab"><i class="fa fa-cogs fa-fw"></i>&nbsp; Setup</a></li>
                        <li id="start-tab"><a href="#start" role="tab" data-toggle="tab"><i class="fa fa-flag-checkered fa-fw"></i>&nbsp; Inizio Prova</a></li>
                        <li id="examInfo-tab"><a href="#examInfo" role="tab" data-toggle="tab"><i class="fa fa-info-circle fa-fw"></i>&nbsp; Fine Prova</a></li>
                    </ul>


                <!-- Tab panes -->

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="setup">
                            <section id="secLoadExamInformation">
                                <!--
                                <button id="linkToNext" class="btn btn-success" type="button"> Avanti </button>
                                <button id="linkToPrec" class="btn btn-danger" type="button"> Indietro </button>
                                <div class="wrapper">
                                    <section id="secUploadFileExam">
                                        <h3 id="config" align="center" >
                                            <i class="fa fa-file-code-o"></i>&nbsp;Configurazione Compito
                                            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalInfoFileCompito">
                                                <i class="fa fa-info"></i>
                                            </button>
                                        </h3>
                                        <form id="formExamNumber" class="form" method="post" action="/setQuestionNumber" enctype="multipart/form-data">
                                            <fieldset>
                                                <legend>form in cui caricare il numero di domande</legend>
                                                <div id="divQuestionP">
                                                    <label>Domande pratica</label>
                                                    <input type='number' id='inputNumberQuestionP' name='inputNumberQuestionP' value="{{numQuestionP}}" />
                                                </div>
                                                <div id="divQuestionT">
                                                    <label>Domande teoria</label>
                                                    <input type='number' id='inputNumberQuestionT' name='inputNumberQuestionT' value="{{numQuestionT}}" />
                                                </div>
                                                <div class="center">
                                                    <input id="btnConferma" class="btn btn-default" type='submit' value="Conferma"/>
                                                </div>
                                            </fieldset>
                                        </form>

                                        <form id="formExamFile" class="form" method='post' action='/uploadFileCustom' enctype="multipart/form-data">
                                            <fieldset>
                                                <legend>form in cui caricare i dati relativi al compito</legend>
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="active">
                                                        <a href="#html" role="tab" data-toggle="tab">HTML</a>
                                                    </li>
                                                    <li>
                                                        <a href="#css" role="tab" data-toggle="tab">CSS</a>
                                                    </li>
                                                    <li>
                                                        <a href="#javascript" role="tab" data-toggle="tab">JAVASCRIPT</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane fade active in" id="html">
                                                        <div class="align" id="divTextHtml">
                                                            <textarea class="form-control" id="textAreaHtml" rows="8"></textarea>
                                                        </div>
                                                        <div class="align" id="divUploadHtml">
                                                            <label>File Html</label>
                                                            <input type='file' id='fileHtmlUpload' name='fileHtmlUpload' value=" "/>
                                                        </div>
                                                        <div class="clearBoth"></div>
                                                    </div>
                                                    <div class="tab-pane fade" id="css">
                                                        <div class="align" id="divTextCss">
                                                            <textarea class="form-control" id="textAreaCss" rows="8"></textarea>
                                                        </div>
                                                        <div class="align" id="divUploadCss">
                                                            <label>File Css</label>
                                                            <input type='file' id='fileCssUpload' name='fileCssUpload' value=" "/>
                                                        </div>
                                                        <div class="clearBoth"></div>
                                                    </div>
                                                    <div class="tab-pane fade" id="javascript">
                                                        <div class="align" id="divTextJavascript">
                                                            <textarea class="form-control" id="textAreaJavascript" rows="8"></textarea>
                                                        </div>
                                                        <div class="align" id="divUploadJavascript">
                                                            <label>File Javascript</label>
                                                            <input type='file' id='fileJavascriptUpload' name='fileJavascriptUpload' value=" "/>
                                                        </div>
                                                        <div class="clearBoth"></div>
                                                    </div>
                                                </div>
                                                <div class="center">
                                                    <input id="btnSubmitExamFile" class="btn btn-default" type='submit' value="Aggiorna"/>
                                                    <a id="linkViewExam" class="btn btn-warning" href="{{static}}" target="_blank">Attuale</a>
                                                    <button id="btnClearExamFile" class="btn btn-danger" >Pulisci</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </section>
                                    <section id="clock">
                                        <h3 align="center" >
                                            <i class="fa fa-clock-o"></i>&nbsp;Temporizzazione compito
                                            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalInfoTemporizzazione">
                                                <i class="fa fa-info"></i>
                                            </button>
                                        </h3>
                                        <form id="formSetupClock" class="form" method='post' action='/setDataClockAula'>
                                            <fieldset>
                                                <legend>form setup clock compito</legend>
                                                <div>
                                                    <label>Durata esame*</label>
                                                    <input type='number'  id='inputDurationTest' name='inputDurationTest' value="{{durationExam}}" />
                                                </div>
                                                <div>
                                                    <label>Durata Over Time*</label>
                                                    <input type='number' id='inputDurationOverTimeTest' name='inputDurationOverTimeTest' value="{{durationOverTime}}"/>
                                                </div>
                                                <span>* in minuti</span>
                                                <div class="center">
                                                    <input id="btnSubmitClockData" class="btn btn-default" type='submit' value="Aggiorna valori Clock del compito"/>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </section>
                                </div>
                                <div class="center">
                                    <button id="btnClocksetup" class="btn btn-primary btn-lg" value="setup" >Permetti agli studenti di Loggarsi</button>
                                </div>-->
                                <div class="wrapper">
                                    <div class="divList">
                                        <label> Lista Prove </label>
                                        <select size=27 class="listSelect list"></select>
                                    </div>
                                    <div class="divConfig" id="divSetup">
                                        <form role="form" id="formExam" class="form-horizontal" method='post' action='/uploadFileCustom' enctype="multipart/form-data">
                                            <div class="btn-group margin">
                                                <span class="btn btn-default btn-file"> Carica Json
                                                    <input type='file' id='fileJsonUpload' name='fileJsonUpload' value=" "/>
                                                </span>
                                                <input id="btnExamFile" class="btn btn-default" type='submit' value="Salva Json"/>
                                                <!--<a id="linkViewExam" class="btn btn-default" href="{{static}}/professor/previewFile" target="_blank">Anteprima</a>-->
                                            </div>
                                            <div class="right">
                                                <button id="btnSave" class="btn btn-default" value="setup" >Salva Configurazione</button>
                                            </div>
                                            <div id="divValue">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label" id="nameExam" name="nameExam">Nome prova</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="inputNameExam" name="inputNameExam" placeholder="Prova del GG_MM_AAAA">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Copertina</label>
                                                    <div class="col-sm-10 border">
                                                        <label>Inserisci l'HTML della copertina</label>
                                                        <textarea id="inputCoverExam" name="inputCoverExam" class="form-control" rows="3"></textarea>
                                                    </div>
                                                </div>
                                                <!-- DOMANDE -->
                                                <div class="form-group" id="formQuestion">
                                                <div id="question1">
                                                    <label class="col-md-2 control-label" id="label1">Domanda n.1</label>
                                                    <div class="col-md-9 border">
                                                        <ul class="nav nav-tabs" role="tablist">
                                                            <li class="active"><a href="#text1" role="tab" data-toggle="tab">Domanda</a></li>
                                                            <li><a href="#html1" role="tab" data-toggle="tab">HTML</a></li>
                                                            <li><a href="#css1" role="tab" data-toggle="tab">CSS</a></li>
                                                            <li><a href="#javascript1" role="tab" data-toggle="tab">JAVASCRIPT</a></li>
                                                        </ul>
                                                        <div class="tab-content">
                                                            <div class="tab-pane fade active in" id="text1">
                                                                <textarea class="form-control" id="inputText1" rows="6"></textarea>
                                                            </div>
                                                            <div class="tab-pane fade" id="html1">
                                                                <textarea class="form-control" id="inputHtml1" rows="6"></textarea>
                                                            </div>
                                                            <div class="tab-pane fade" id="css1">
                                                                <textarea class="form-control" id="inputCss1" rows="6"></textarea>
                                                            </div>
                                                            <div class="tab-pane fade" id="javascript1">
                                                                <textarea class="form-control" id="inputJavascript1" rows="6"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="align-btn">
                                                        <div><button type="button" class="btn btn-default switchUp"><i class="fa fa-caret-square-o-up"></i></button></div>
                                                        <div><button type="button" class="btn btn-default remove"><i class="fa fa-times"></i></button></div>
                                                        <div><button type="button" class="btn btn-default switchDown"><i class="fa fa-caret-square-o-down"></i></button></div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </form>

                                        <!-- tasti fine pagina -->
                                        <div class="center">
                                            <button id="btnAdd" class="btn btn-primary" value="add" >Aggiungi</button>
                                            <button id="btnCopy" class="btn btn-primary" value="copy" >Crea copia</button>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="tab-pane fade" id="start">
                            <!--<button id="btnClockNotest" class="btn btn-warning" value="notest">Ritorna al Setup</button>-->
                            <section id="examStartSession">
                                <div class="wrapper">
                                    <div class="divList">
                                        <label> Lista Prove </label>
                                        <select size=30 class="listSelect list"></select>
                                    </div>
                                    <div class="divConfig" id="divStartExam">
                                        <div class="center">
                                            <h1 class="titleExam"> </h1>
                                            <p>Studenti loggati <span id="studentLog"></span>.</p>
                                            <table class="table table-hover table-bordered" id="tableStartExam">
                                                <thead>
                                                    <tr>
                                                        <th>stato</th>
                                                        <th>postazione</th>
                                                        <th>studente</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                            <form id="formSetupClock" class="form" method='post' action='/setDataClockAula'>
                                                <div id="divInputClock">
                                                    <label>Durata esame (in minuti)</label>
                                                    <input type='number'  id='inputDurationTest' name='inputDurationTest' value="{{durationExam}}" />
                                                </div>
                                                <div id="divButtonClock">
                                                    <input id="btnSubmitClockData" class="btn btn-default" type='submit' value="Aggiorna valori Clock del compito"/>
                                                </div>
                                            </form>
                                            <div id="divButtonStartExam">
                                                <button id="btnClocksetup" class="btn btn-primary btn-lg" value="setup" > Permetti Login</button>
                                                <button id="btnClockready" class="btn btn-primary btn-lg" value="ready">Inizia Il Compito</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="tab-pane fade" id="examInfo">
                            <section id="examSessionInfo">
                                <div class="wrapper">
                                    <div class="divList">
                                        <label> Lista Prove </label>
                                        <select size=30 class="listSelect list"></select>
                                    </div>
                                    <div class="divConfig" id="divEndExam">
                                        <div class="center">
                                            <h1 class="titleExam"> </h1>
                                            <p> Postazioni attive. prove concluse e consegnate</p>
                                            <table class="table table-hover table-bordered" id="tableEndExam">
                                                <!--
                                                <thead>
                                                    <tr>
                                                        <th>postazione</th>
                                                        <th>studente</th>
                                                        <th>prova</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>fila A - computer 1</td>
                                                        <td>Mario Rossi</td>
                                                        <td>consegnata</td>
                                                    </tr>
                                                    <tr>
                                                        <td>fila A - computer 1</td>
                                                        <td>Mario Rossi</td>
                                                        <td>in elaborazione</td>
                                                    </tr>
                                                </tbody>
                                                -->
                                                <thead>
                                                    <tr>
                                                        <th>postazione</th>
                                                        <th>studente</th>
                                                        <th>prova</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                            <div class="left">
                                                <p>Prova iniziata alle ore:</p>
                                                <span id="hours"></span>
                                            </div>
                                            <div class="rightClock">
                                                <span>Stato attuale del server: </span>
                                                <span id="spanStatusClock"></span>
                                                <div id="divCountdown"></div>
                                            </div>
                                            <div id="divInfoTime">
                                                <p>Il tempo regolamentare verrà esteso di: <span id="spanInfoTime"> </span> minuti</p>
                                            </div>
                                            <div class="align-btn-time">
                                                <button id="btnExstendOne" class="btn btn-default btnExstend" value="one" > Estendi fine di 1 minuto</button>
                                                <button id="btnExstendFive" class="btn btn-default btnExstend" value="five">Estendi fine di 5 minuti</button>
                                                <button id="btnExstendUndefine" class="btn btn-default btnExstend" value="undefine">Estendi fine indefinitivamente</button>
                                            </div>
                                            <div class="align-btn-reset">
                                                <input id="btnResetExamSession" class="btn btn-default btn-lg" type='submit' value="Forza fine prova adesso"/>
                                            </div>
                                            <!--<div id="divRestartExamSession" class="center" style="display: none">
                                                <button id="btnResetExamSession" class="btn btn-warning btn-lg">
                                                    Termina definitivamente la sessione di esame appena conclusa, per iniziarne una nuova.
                                                </button>
                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!--<section id="secFinishExam" class="center">
                                <button id="btnGetFinishStudent" class="btn btn-success btn-lg">
                                    Studenti che hanno terminato l'esame
                                </button>
                                <div id="divExamReport" style="display: none">
                                    <table id="tableExamReport" border="1">
                                        <thead>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                -->
                                <div id="divNobodyFinishExam" class="center" style="display: none">
                                    <p>Nessuno studente ha terminato l'esame</p>
                                </div>
                            <!--</section>-->
                        </div>
                    </div>

                {{> modal_guide}}

                {{> modal_info_file_compito}}

                {{> modal_info_temporizzazione}}

                <div id="push"></div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="muted credit">Powered by Matteo Borghi, Francesca Grillo ©</p>
            </div>
        </div>
    </body>
    <script src="{{static}}/js/myjsbin/countdown_v5.0/countdown.js"></script>
    <script src="{{static}}/js/vendor/jquery-1.11.0.min.js"></script>
    <script src="{{static}}/js/vendor/bootstrap.min.js"></script>
    <script src="{{static}}/js/myjsbin/controlPanelProf.js"></script>
</html>