<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Correction Panel Prof</title>

        <link rel="stylesheet" href="{{static}}/css/myjsbin/bootstrap.min.css">
        <link rel="stylesheet" href="{{static}}/css/myjsbin/correctionPanelProf.css">
    </head>
    <body>
        <h1 align="center">Pannello correzione compiti del Professore</h1>
        <section id="secLoadWeigthInformation">
            <h2 align="center">Sezione relativa al caricamento delle informazioni per <mark>CORREGGERE</mark> l'esame</h1>
            <!-- I insert this div to try to personalize position of countdown element ==> and I Win -->
            <div class="wrapper">
                <section id="secUploadFileExam">
                    <h3 align="center" >Gestione File validazione CUSTOM compito</h3>
                    <form id="formValidationFile" class="form" method='post' action='/correction/uploadFileCustom' enctype="multipart/form-data">
                        <fieldset>
                            <legend>form in cui caricare il test mocha personalizzato</legend>
                            <div id="divUploadHtml">
                                <label>Choose File Mocha validation</label>
                                <input type='file'  id='fileMochaUpload' name='fileMochaUpload' />
                            </div>
                            <div class="center">
                                <input type='submit' value="Carica file per validazione personalizzata"/>
                            </div>
                        </fieldset>
                    </form>
                    <div class="center">
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalInfoFileValidation">
                            Info Creazione File Validazione
                        </button>
                    </div>
                </section>
                <section id="clock">
                    <h3 align="center" >Gestione Pesi per proposta di voto</h3>
                    <form id="formVoteWeight" class="form" method='post' action='/correction/setWeightValidation'>
                        <fieldset>
                            <legend>form setup pesi validazione</legend>
                            <div>
                                <label>Peso validazione Html standard</label>
                                <input type='number'  id='inputWeightHtml' name='inputWeightHtml' pattern="\i+" />
                            </div>
                            <div>
                                <label>Peso validazione Css standard</label>
                                <input type='number'  id='inputWeightCss' name='inputWeightCss' pattern="\i+" />
                            </div>
                            <div>
                                <label>Peso validazione Javascript standard</label>
                                <input type='number'  id='inputWeightJavascript' name='inputWeightJavascript' pattern="\i+" />
                            </div>
                            <div>
                                <label>Peso validazione Custom (Mocha)</label>
                                <input type='number'  id='inputWeightMocha' name='inputWeightMocha' pattern="\i+" />
                            </div>
                            <div>
                                <label>Voto di partenza</label>
                                <input type='number'  id='inputStartVote' name='inputStartVote' pattern="\i+" />
                            </div>

                            <div class="center">
                                <input type='submit' value="Carica Pesi per validazione"/>
                            </div>
                        </fieldset>
                    </form>

                </section>

            </div>

        </section>
        <section class="center" id="secExamRepor">
            <div id="divHeaderExamReport">
                <span>Scegli data compito</span>
                <select id="selectExamDate">
                    <option value="---">---</option>
                </select>
                <button id="btnGetExamValidation">
                    Get Student Report
                </button>
            </div>


            <div id="divExamReport" style="display: none">
                <table id="tableExamReport" border="1">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <button id="saveReport">
                    View Json Object of Report
                </button>
            </div>
        </section>

        <!-- Modal for visualize error -->
        <div class="modal fade" id="myModalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalErrorTitle"></h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal for visualize info how to create file for validation -->
        <div class="modal fade" id="modalInfoFileValidation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Info su come creare file per validazione</h4>
                    </div>
                    <div class="modal-body">
                        <h3>Informazioni su come creare file per validazione</h3>
                        <p>Nella creazione del file per la validazione, viene messo a disposizione il DOM del compito all'interno di una variabile denominata "window",
                        quindi se nel test, si vuole accedere ad una certa variabile o una funzione del DOM, bisogna scrivere: window.nomeVariabile o window.nomeFunzione;
                        questo tipo di istruzione funzionerà anche se provate il vostro test client side nel vostro browser, poichè anche nel browser il DOM è caricato
                        nella variabile window.</p>
                        <p>Inoltre per effettuare qualsiasi tipo di asserzione complessa, viene messo a disposizione un oggetto chai in una variabile denominata appunto "chai";
                        quindi se si vuole ad esempio controllare se il valore della variabile i del DOM a livello di codice javascript ha un valore pari a 10, basterà scrivere
                        all'interno del test: chai.expect(window.i).to.equal(10); </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{{static}}/js/vendor/jquery-1.11.0.min.js"></script>
    <script src="{{static}}/js/vendor/bootstrap.min.js"></script>
    <script src="{{static}}/js/myjsbin/correctionPanelProf.js"></script>
</html>