<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Correction Panel Prof</title>

        <link rel="stylesheet" href="{{static}}/css/myjsbin/bootstrap.min.css">
        <link rel="stylesheet" href="{{static}}/css/myjsbin/correctionPanelProf.css">
        <link rel="stylesheet" href="{{static}}/css/myjsbin/footer.css">
        <link rel="stylesheet" href="{{static}}/css/myjsbin/font-awesome-4.2.0/css/font-awesome.min.css">

    </head>
    <body>
        <div id="wrap">
            <div class="container">
                <div class="center">
                    <h1>
                        <a id="linkToPanelProf" class="btn btn-danger" href="{{static}}/professor" ><i class="fa fa-home"></i>&nbsp;Home</a>
                        <i class="fa fa-pencil-square-o"></i>&nbsp;Pannello correzione compiti del Professore
                    </h1>
                </div>
                <section id="secLoadWeigthInformation">
                    <h2 align="center">Caricamento info per <mark>CORREGGERE</mark> l'esame</h2>
                    <!-- I insert this div to try to personalize position of countdown element ==> and I Win -->
                    <div class="wrapper">
                        <section id="secUploadFileExam">
                            <h3 align="center" >
                                <i class="fa fa-file-text-o"></i>
                                &nbsp File validazione CUSTOM&nbsp;
                                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalInfoFileValidation">
                                    <i class="fa fa-info"></i>
                                </button>
                            </h3>
                            <form id="formValidationFile" class="form" method='post' action='/correction/uploadFileCustom' enctype="multipart/form-data" style="display: none" >
                                <fieldset>
                                    <legend>form test mocha personalizzato</legend>
                                    <div id="divUploadHtml">
                                        <label>File Custom Validation</label>
                                        <input type='file'  id='fileMochaUpload' name='fileMochaUpload' />
                                    </div>
                                    <div class="center">
                                        <input class="btn btn-default" type='submit' value="Aggiorna File"/>
                                        <a class="btn btn-warning" href="{{static}}/professor/correction/currentCustomValidation" target="_blank">Default</a>
                                    </div>
                                </fieldset>
                            </form>
                            <div id="allowCustomValidation" class="center">
                                <button class="btn btn-success" id="btnAllowCustomValidation">
                                    <span><b>Abilita Validazione Custom</b></span>
                                </button>
                            </div>
                        </section>
                        <section id="clock">
                            <h3 align="center" >
                                <i class="fa fa-calculator"></i>
                                &nbsp;Gestione Pesi per proposta di voto
                                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalInfoWeightValidation">
                                    <i class="fa fa-info"></i>
                                </button>
                            </h3>
                            <form id="formVoteWeight" class="form" method='post' action='/correction/setWeightValidation'>
                                <fieldset>
                                    <legend>form setup pesi validazione
                                    </legend>
                                    <div>
                                        <label>Peso Html standard</label>
                                        <input type='number'  id='inputWeightHtml' name='inputWeightHtml' value="{{inputWeightHtml}}"/>
                                    </div>
                                    <div>
                                        <label>Peso Css standard</label>
                                        <input type='number'  id='inputWeightCss' name='inputWeightCss' value="{{inputWeightCss}}"/>
                                    </div>
                                    <div>
                                        <label>Peso Javascript standard</label>
                                        <input type='number'  id='inputWeightJavascript' name='inputWeightJavascript' value="{{inputWeightJavascript}}" />
                                    </div>
                                    <div>
                                        <label>Peso Custom (Mocha)</label>
                                        <input type='number'  id='inputWeightMocha' name='inputWeightMocha' value="{{inputWeightMocha}}" />
                                    </div>
                                    <div>
                                        <label>Voto di partenza</label>
                                        <input type='number'  id='inputStartVote' name='inputStartVote' value="{{inputStartVote}}" />
                                    </div>

                                    <div class="center">
                                        <input class="btn btn-default" type='submit' value="Aggiorna Pesi per validazione"/>
                                    </div>
                                </fieldset>
                            </form>
                        </section>
                    </div>
                </section>
                <section class="center" id="secExamRepor">
                    <div id="divHeaderExamReport">

                        <span><b>Scegli data compito : </b></span>
                        <select id="selectExamDate">
                            <option value="---">---</option>
                        </select>
                        <button id="btnGetExamValidation" class="btn btn-success btn-lg">
                            Correggi Esame
                        </button>
                    </div>

                    <div id="divProgressBar" class="progress" style="display: none">
                        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                            validation in progress...
                        </div>
                    </div>

                    <div id="divErrorValidation" class="center" style="display: none">

                    </div>

                    <div id="divExamReport" style="display: none">
                        <table id="tableExamReport" border="1">
                            <thead>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <a class="btn btn-default" href="{{static}}/professor/correction/file" target="_blank">View Json Object of Report</a>
                        <!--<button class="btn btn-default" id="saveReport">
                            View Json Object of Report
                        </button>-->
                    </div>
                </section>
                <div id="push"></div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="muted credit">Powered by Matteo Borghi, Francesca Grillo ©</p>
            </div>
        </div>

        {{> modal_error}}

        {{> modal_info_file_validation}}

        {{> modal_info_weight}}

    </body>
    <script src="{{static}}/js/vendor/jquery-1.11.0.min.js"></script>
    <script src="{{static}}/js/vendor/bootstrap.min.js"></script>
    <script src="{{static}}/js/myjsbin/correctionPanelProf.js"></script>
</html>