<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>setup Page</title>
        <link rel="stylesheet" href="{{static}}/css/myjsbin/bootstrap.min.css">
        <link rel="stylesheet" href="{{static}}/css/myjsbin/pageSetup.css">
    </head>
    <body>
        <div class="studentLog">
            <p class="red">LOGIN EFFETTUATO CON SUCCESSO</p>
            <p class="log">attendi l'inizio della prova</p>
        </div>
    </body>
    <script src="{{static}}/js/vendor/jquery-1.11.0.min.js"></script>
    <script src="{{static}}/js/myjsbin/pageSetup.js"></script>
</html>