<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>setup Page</title>
        <link rel="stylesheet" href="{{static}}/css/myjsbin/bootstrap.min.css">
        <link rel="stylesheet" href="{{static}}/css/myjsbin/pageSetup.css">
    </head>
    <body>
        <form method="post" action="/list" id="formStudentList">
            <div class="studentLog">
                <p class="log">Login effettuato con successo. Attendi l'inizio della prova.</p>
                <div id="divList">
                    <input id="btnList" type='submit' class="btn btn-primary btn-lg" value="Procedi" />
                </div>
            </div>
        </form>
    </body>
    <script src="{{static}}/js/vendor/jquery-1.11.0.min.js"></script>
    <script src="{{static}}/js/myjsbin/pageSetup.js"></script>
</html>