<!-- Modal for visualize info about how to create file for validation -->
<div class="modal fade" id="modalHelpProf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header btn-warning">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h2 class="modal-title" id="myModalFileValidationTitle">Guida al Professore</h2>
            </div>
            <div class="modal-body">
                <h3>Informazioni su come gestire una sessione d'esame</h3>
                <p>Come si può notare, la navigazione è governata da tre tab nella parte superiore della pagina (setup, start ed exam info).
                    Inizialmente solo una delle tab è abilitata, in base allo stato interno del clock del sistema.
                    La navigazione tra le tab è sequenziale, quindi terminata un'operazione si passa alla tab successiva,
                    e la precedente non è più visibile.</p>

                <h4>Demo sessione d'esame</h4>
                <ol>
                    <li>
                        <h5>Prima fase: setup</h5>
                    </li>
                    <li>
                        <h5>Seconda fase: start</h5>
                    </li>
                    <li>
                        <h5>Terza fase: info sessione d'esame</h5>
                    </li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>